@font-face {
    font-family: "Roboto-Regular";
    src: url("../polices/Roboto-Regular.ttf") format("truetype");
  }
  
@font-face {
      font-family: "Shrikhand-Regular";
      src: url("../polices/Shrikhand-Regular.ttf") format("truetype");
    }
  
  h1, h4 {
      font-family: "Shrikhand-Regular";
  }
  
  body {
    font-family: "Roboto-Regular";
  }

  /*police définie*/