@charset "UTF-8";
/*UTILS ------------------------------------------------*/
/*variables couleurs*/
/*BASE -------------------------------------------------*/
@font-face {
  font-family: "Roboto-Regular";
  src: url("../polices/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Shrikhand-Regular";
  src: url("../polices/Shrikhand-Regular.ttf") format("truetype");
}
h1, h4 {
  font-family: "Shrikhand-Regular";
}

body {
  font-family: "Roboto-Regular";
  margin: 40px 40px 40px 40px;
}

/*police définie*/
header {
  text-align: center;
}

footer {
  background-color: rgba(0, 0, 0, 0.7960784314);
  color: white;
  padding: 20px;
}
footer h4 {
  margin-top: 5px;
  margin-left: 10px;
  font-weight: normal;
  font-size: 1.2rem;
}
footer ul {
  list-style: none;
  margin-left: -30px;
}
footer .fas {
  margin: 0px 15px 0px 0px;
  font-size: 0.9rem;
}
footer p {
  margin: 0px;
}
footer li {
  margin: 10px;
}

/*PAGES ------------------------------------------------*/
.container {
  display: flex;
}

.fas {
  margin: 15px 15px;
}

/*mise en ligne de tout ce qui doit l'être*/
/*COMPONENTS -------------------------------------------*/
.intro {
  text-align: center;
  margin-bottom: 50px;
  padding-bottom: 60px;
  background-color: #f1f1f1cb;
}
.intro .container {
  margin-bottom: 15px;
  justify-content: center;
  background-color: rgba(221, 221, 221, 0.7960784314);
  border-top: 3px rgba(190, 190, 190, 0.7960784314) solid;
}
.intro h2 {
  font-size: 1.7rem;
  margin: 30px 50px 10px 50px;
}
.intro h2 + p {
  color: rgba(0, 0, 0, 0.7);
  margin: 30px 30px;
  font-size: 1.1rem;
}

.btn {
  margin: auto;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  border-radius: 40px;
  width: 210px;
  height: 25px;
  padding: 12px;
  padding-top: 15px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.233);
}

.etapes {
  margin: 10px;
}
.etapes .container {
  background-color: #f1f1f1cb;
  margin: 20px 10px;
  padding: 10px;
  border-radius: 20px;
  position: relative;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.137);
}
.etapes .fas {
  margin: 20px 30px;
  color: #666666;
}

.number {
  font-size: 0.9rem;
  position: absolute;
  left: -15px;
  color: white;
  background-color: #9356DC;
  text-align: center;
  padding: 5px;
  width: 18px;
  border-radius: 20px;
}

.restaurants {
  background-color: #f1f1f1cb;
  padding: 30px;
}
.restaurants .container {
  padding: 0px 15px;
  justify-content: space-between;
  align-items: center;
}
.restaurants .container__lieu {
  color: rgba(24, 24, 24, 0.7960784314);
  margin-top: -10px;
}
.restaurants__img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  height: 250px;
  object-fit: cover;
}
.restaurants__carte {
  background-color: white;
  margin: 20px 0px;
  border-radius: 20px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.233);
  position: relative;
}
.restaurants__carte > p {
  position: absolute;
  top: 0px;
  right: 20px;
  background-color: #99E2D0;
  color: #278870;
  font-weight: bold;
  font-size: 1.05rem;
  padding: 10px;
  width: 90px;
  text-align: center;
}
.restaurants .far {
  font-size: 1.8rem;
  margin-right: 10px;
  color: rgba(24, 24, 24, 0.7960784314);
}

/*# sourceMappingURL=style.css.map */
