@keyframes menu {
    0% {
        opacity: 0;
        transform: translateY(150px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes loader {
    0% {
        transform: rotate(0turn);
    }
    33% {
        transform: rotate(1turn);
    }
    66% {
        transform: rotate(2turn);
    }
    100% {
        transform: translateX(1500px);
    }
}

@keyframes logo {
    0% {
        color:$color-tertiary;
    }
    33% {
        color:$color-secondary;
    }
    66% {
        color:$color-primary;
        transform: translateY(200%);
    }
}