a {
    text-decoration: none;
    color: black;
}

.container {
    display: flex;
}

.btn {
    margin: 35px auto;
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
    color: white;
    text-align: center;
    border-radius: 40px;
    width: 210px;
    height: 25px;
    padding: 12px;
    padding-top: 15px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.233);
    opacity: 1;
    &:hover {
        opacity: 0.8;
        cursor: pointer;
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.6);
    }
}

.heart {
    position: absolute;
    color: transparent; 
    transform:scale(0);
    transition: transform 1s ease-in;
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
    -webkit-background-clip: text;
}

.far:hover, .heart:hover {
    cursor: pointer;
    + .heart {
        transform: scale(1);
    }
}