a {
    text-decoration: none;
    color: black;
}

.container {
    display: flex;
}

.btn {
    margin: 35px auto;
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
    color: white;
    text-align: center;
    border-radius: 40px;
    width: 210px;
    height: 25px;
    padding: 12px;
    padding-top: 15px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.233);
    opacity: 1;
    &:hover {
        opacity: 0.8;
        cursor: pointer;
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.6);
    }
}

.heart {
    position: absolute;
    font-size: 32px;
    right: 45px;
    top: 45px;
    color: transparent; 
    transform:translateY(20px);
    transition: transform 1s ease-in;
    overflow: hidden;
}

.far:hover {
    color: none;
    + .heart {
        transform: translateY(0px);
        background: linear-gradient(to bottom right, $color-secondary, $color-primary);
        background-clip: text;
        -webkit-background-clip: text;
    }
}